.about-page {
    position: fixed;
    display: block;
    flex-direction: row;
    flex-direction: column;
    top: 50%;
    left: 50%;
    height: 60%;
    width: 80%;
    translate: -50% -50%;
    opacity: 0.9;
    transition: 0.5s;
    z-index: 1;
    background-image: url(../img/about.JPG);
    background-size: cover;
    background-position: center;
    display: none;
}

.about-page>* {
    position: absolute;
}

.close-modal-btn {
    left: 100%;
    translate: -110% 10%;
    font-size: larger;
    border: none;
}

.close-modal-btn:hover {
    border: 1px solid black;
}

.secret-about{
    left: 50%;
    top: 30%;
    translate: -50% 10%;
}