.gallery-page {
    width: 100%;
}

/* ///////////////////////////////////////// */

.nav-funcs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: inherit;
    height: 50px;
}

.nav-funcs>* {
    /* flex-grow: 1; */
    display: flex;
}

.search-keys {
    width: 350px;
    height: 70%;
    border-radius: 25px;
    align-self: center;
    padding-left: 10px;
    margin-left: 5px;
    background-color: #22252c;
}

.keywords-holder {
    background-color: lightgray;
    border-radius: 25px;
    width: 540px;
    justify-content: space-evenly;
}

.keywords-holder>* {
    background-color: inherit;
    border: none;
    color: white;
    font-weight: 300;
}

.random-meme-btn {
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    width: 150px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}



.upload-img-btn{
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    position: relative;
    width: 150px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

.file-input{
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}





/* ///////////////////////////////////////// */

.gallery-container {
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;

    gap: 5px;
    margin-inline-start: 5px;
    margin-block-start: 5px;
}

.card {
    width: 200px;
    height: 175px;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}