.main-header{
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 200px;
    height: 50px;
    border: 1px solid black;
    margin-left: 50px;
}

.main-nav{
    border: 1px solid black;
    margin-right: 50px;
}

.main-nav >*{
    width: 100px;
    height: 100%;
}