
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #22252c;
}

.main-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.main-content {
    border: 1px solid black;
    width: 1250px;
    height: 100%;
    background-color: #383b42;
}



.canvs-container {
    /* flex-grow: 1; */
    /* height: 100%; */
    /* display: block; */
}



