/* /////////////////////////////////////// MOBILE ONLY /////////////////////////////////////// */

@media (max-width:640px) {

    body {
        background-color: #383b42;
    }

    /* ///////////////// EDITOR //////////// */
    .canvas-container {
        width: 300px;
        height: 300px;
    }

    .main-editor {
        width: 300px;
        height: 300px;
    }

    .editor-page {
        display: flex;
        flex-direction: column;
    }


    /* header */

    .main-nav-container {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        transform: translateX(100%);
        flex-direction: row;
        z-index: 1;
        background-color: #22252c;
    }

    body.menu-open .main-nav-container {
        transform: translateX(0);
        box-shadow: -1px 1px 20px rgb(0 0 0 / 50%);
    }


    .main-nav-container button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.7em;
        border-bottom: 1px solid #ccc;
    }

    .main-nav-container button:hover {
        background-color: #39a081;
    }

    .main-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.6s;
    }

    body.menu-open .main-screen {
        pointer-events: auto;
        opacity: 1;
    }

    .btn-menu {
        width: 80px;
        height: 40px;
        border: none;
        background-color: #d0e7f2;
        cursor: pointer;
        border-radius: 25px;
        margin: 5px;
        align-self: center;
    }

    .main-nav-container>* {
        width: 80px;
        height: 40px;
        border: none;
        background-color: #d0e7f2;
        cursor: pointer;
        border-radius: 25px;
        margin: 5px;
    }

    .logo {
        align-self: center;
        font-size: x-large;
    }

    /* ///////////////// GALLERY //////////// */

    .gallery-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .nav-funcs {
        /* width: 500px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
    }

    .nav-funcs>* {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card {
        width: 100%;
        height: 100%;
        margin: 2px;
    }

    .card img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .random-meme-btn,
    .upload-img-btn {
        width: 200px;
        height: 30px;
        border: none;
        background-color: #d0e7f2;
        cursor: pointer;
        border-radius: 25px;
        margin: 5px;
    }

    .search-keys {
        width: 200px;
        height: 30px;
        border-radius: 25px;
        align-self: center;
        padding-left: 10px;
        margin-left: 5px;
        background-color: #22252c;
    }




}




/* /////////////////////////////////////// SMALL /////////////////////////////////////// */



@media (min-width:640px) {


    /* ///////////////// EDITOR //////////// */

    .main-layout {
        height: 100vh;
        display: grid;
        grid-template-columns:
            minmax(10px, 1fr) minmax(620px, 880px) minmax(10px, 1fr);
        grid-template-rows: 80px 1fr 80px;
        gap: 10px;
        background-color: #22252c;
    }

    .gallery-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .canvas-container {
        width: 300px;
        height: 300px;
    }

    .main-editor {
        width: 300px;
        height: 300px;
    }

    .main-layout>*:not(.strech) {
        grid-column: 2;
        grid-row: 2;
    }

    .main-layout>.strech {
        grid-column: 1/-1;
    }

    footer {
        grid-row: 3;
    }

    /* ////////////////////// header//////////////////// */

    header {
        grid-row: 1;
    }

    .logo {
        align-self: center;
        font-size: x-large;
    }

    .btn-menu {
        display: none;
    }

    .main-nav-container {
        display: flex;
        align-items: center;
    }

    .main-nav-container button:hover {
        background-color: #39a081;
    }


    .main-nav-container>* {
        width: 80px;
        height: 40px;
        border: none;
        background-color: #d0e7f2;
        cursor: pointer;
        border-radius: 25px;
        margin: 5px;
    }



    /* ////////////////////// GALLERY//////////////////// */

    .nav-funcs {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: inherit;
        height: 50px;
    }

    .search-keys {
        justify-self: center;
        align-self: center;
        width: 300px;
        height: 70%;
        border-radius: 25px;
        align-self: center;
        padding-left: 10px;
        margin-left: 5px;
        background-color: #22252c;
    }

    .random-meme-btn {
        background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
        width: 150px;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        font-size: large;
    }

    .upload-img-btn {
        background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
        position: relative;
        width: 150px;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        font-size: large;

    }


    .gallery-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-inline-start: 5px;
        margin-block-start: 5px;
    }

    .card {
        width: 100%;
        height: 100%;
    }

    .card:hover {
        border: 1px rgb(49, 213, 104) solid;
        border-radius: 2em;
        cursor: pointer;
    }



    .card img {
        width: 100%;
        height: 100%;
        border-radius: 2em;
    }

    .main-nav-container>* {
        font-size: larger;
    }


}



/* /////////////////////////////////////// MEDIUM /////////////////////////////////////// */



@media (min-width: 900px) {

    /* ///////////////// EDITOR //////////// */

    .main-layout {
        height: 100vh;
        display: grid;
        grid-template-columns:
            minmax(10px, 1fr) minmax(880px, 1120px) minmax(10px, 1fr);
        grid-template-rows: 80px 1fr 80px;
        gap: 10px;
    }

    .canvas-container {
        width: 400px;
        height: 400px;
    }

    .main-editor {
        width: 400px;
        height: 400px;
    }

    .style-btns button {
        width: 15%;
        height: 84%;
        box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
        border-radius: 10px;
    }

    .style-funcs-2>* {
        width: 20%;
        height: 20%;
        box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
        border-radius: 10px;
        font-size: large;
    }

    .style-funcs-1 {
        height: 50%;
    }


    /* ///////////////////header//////////// */
    .main-nav-container>* {
        width: 150px;
        height: 50px;
        font-size:x-large;

    }



    /* ///////////////////GALLERY//////////// */


    .gallery-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-items: center;
    }


}

/* /////////////////////////////////////// LARGE /////////////////////////////////////// */

@media (min-width: 1160px) {

    /* /EDITOR/ */
    .main-layout {
        height: 100vh;
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, 1400px) minmax(20px, 1fr);
    }

    .main-editor {
        width: 480px;
        height: 480px;
    }

    .canvas-container {
        width: 480px;
        height: 480px;
    }

    .gallery-container {
        flex-grow: 1;
        display: grid;
        grid-template-columns: repeat(6, 1fr);

        gap: 5px;
        margin-inline-start: 5px;
        margin-block-start: 5px;
        align-items: center;
        justify-content: center;
        justify-items: center;
        align-content: center;
    }

    .style-btns button {
        width: 15%;
        height: 100%;
        box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
        border-radius: 10px;
    }


}